- var pattern = function(el){
-  return (el.get("Category") == "Lanthanide" || el.get("Category") == "Actinide");
- }

include special

for element in locals.filter(function(el){return !pattern(el);})
  include element

hr.separator

for element, i in locals.filter(function(el){return pattern(el);})
  include element
