#keys
  .key-container#key-sections
    ul.key-list.genre
      li.key-item.span6(data-sort="Metal")
        .title Metals

        ul.key-list.material
          li.key-item.alkali-metal(data-sort="Alkali metal")
            .rotate Alkali metals

          li.key-item.alkaline-earth-metal(data-sort="Alkaline earth metal")
            .rotate Alkali earth

        ul.key-list.material
          li.key-item.lanthanide.span2(data-sort="Lanthanide")
            | Lanthanides

          li.key-item.actinide.span2.bottom(data-sort="Actinide")
            | Actinides

        ul.key-list.material
          li.key-item.transition-metal(data-sort="Transition metal")
            .rotate Transition metals

          li.key-item.post-transition-metal(data-sort="Post-transition metal")
            .rotate Post-transition metals

          li.key-item.metalloid(data-sort="Metalloid")
            .rotate Metalloids

      li.key-item.span2(data-sort="Nonmetal")
        .title Nonmetals

        ul.key-list.material

          li.key-item.other-nonmetal(data-sort="Other nonmetal")
            .rotate Other nonmetals

          li.key-item.halogen(data-sort="Halogen")
            .rotate Halogens

          li.key-item.noble-gas(data-sort="Noble gas")
            .rotate Noble gases

  .key-container#key-states
    ul.key-list.state
      li.key-item.solid(data-sort="Solid") Solid
      li.key-item.gas(data-sort="Gas") Gas
      li.key-item.liquid(data-sort="Liquid") Liquid
      li.key-item.unknown(data-sort="Unknown") Unknown