#keys
  .key-container#key-sections
    ul.key-list.genre
      li.key-item.span6
        .title Metals

        ul.key-list.material
          li.key-item.alkali-metal
            .rotate Alkali metals

          li.key-item.alkali-earth
            .rotate Alkali earth

        ul.key-list.material
          li.key-item.lanthanide-metal.span2
            | Lanthanoids

          li.key-item.actinide-metal.span2.bottom
            | Actinoids

        ul.key-list.material
          li.key-item.transition-metal
            .rotate Transition metals

          li.key-item.poor-metal
            .rotate Poor metals

      li.key-item.span2
        .title Nonmetals

        ul.key-list.material

          li.key-item.other-nonmetal
            .rotate Other nonmetals

          li.key-item.noble-gas
            .rotate Noble gasses

  .key-container#key-states
    ul.key-list.state
      li.key-item.solid Solid
      li.key-item.gas Gas
      li.key-item.liquid Liquid
      li.key-item.unknown Unknown