#keys
  .key-container#key-sections
    ul.key-list.genre
      li.key-item.span6
        .title Metals

        ul.key-list.material
          li.key-item.alkali-metal
            .rotate Alkali metals

          li.key-item.alkaline-earth-metal
            .rotate Alkali earth

        ul.key-list.material
          li.key-item.lanthanide.span2
            | Lanthanides

          li.key-item.actinide.span2.bottom
            | Actinides

        ul.key-list.material
          li.key-item.transition-metal
            .rotate Transition metals

          li.key-item.post-transition-metal
            .rotate Post-transition metal

          li.key-item.metalloid
            .rotate Metalloid

      li.key-item.span2
        .title Nonmetals

        ul.key-list.material

          li.key-item.nonmetal
            .rotate Other nonmetals

          li.key-item.halogen
            .rotate Halogens

          li.key-item.noble-gases
            .rotate Noble gasses

  .key-container#key-states
    ul.key-list.state
      li.key-item.solid Solid
      li.key-item.gas Gas
      li.key-item.liquid Liquid
      li.key-item.unknown Unknown