#table
  #col1.col
    #1.el.grey.gas
    #3.el.alkali-metal.solid
    #11.el.alkali-metal.solid
    #19.el.alkali-metal.solid
    #37.el.alkali-metal.solid
    #55.el.alkali-metal.solid
    #87.el.alkali-metal.solid
  #col2.col
    #4.el.alkali-earth.solid
    #12.el.alkali-earth.solid
    #20.el.alkali-earth.solid
    #38.el.alkali-earth.solid
    #56.el.alkali-earth.solid
    #88.el.alkali-earth.solid
  #col3.col
    #21.el.transition-metal.solid
    #39.el.transition-metal.solid
    .special
      .num
        | 57-71
      .num
        | 89-103
  #col4.col
    #22.el.transition-metal.solid
    #40.el.transition-metal.solid
    #72.el.transition-metal.solid
    #104.el.transition-metal.unknown
  #col5.col
    #23.el.transition-metal.solid
    #41.el.transition-metal.solid
    #73.el.transition-metal.solid
    #105.el.transition-metal.unknown
  #col6.col
    #24.el.transition-metal.solid
    #42.el.transition-metal.solid
    #74.el.transition-metal.solid
    #106.el.transition-metal.unknown
  #col7.col
    #25.el.transition-metal.solid
    #43.el.transition-metal.solid
    #75.el.transition-metal.solid
    #107.el.transition-metal.unknown
  #col8.col
    #26.el.transition-metal.solid
    #44.el.transition-metal.solid
    #76.el.transition-metal.solid
    #108.el.transition-metal.unknown
  #col9.col
    #27.el.transition-metal.solid
    #45.el.transition-metal.solid
    #77.el.transition-metal.solid
    #109.el.transition-metal.unknown
  #col10.col
    #28.el.transition-metal.solid
    #46.el.transition-metal.solid
    #78.el.transition-metal.solid
    #110.el.transition-metal.unknown
  #col11.col
    #29.el.transition-metal.solid
    #47.el.transition-metal.solid
    #79.el.transition-metal.solid
    #111.el.transition-metal.unknown
  #col12.col
    #30.el.poor-metal.solid
    #48.el.poor-metal.solid
    #80.el.poor-metal.liquid
    #112.el.poor-metal.unknown
  #col13.col
    #5.el.other-nonmetal.solid
    #13.el.poor-metal.solid
    #31.el.poor-metal.solid
    #49.el.poor-metal.solid
    #81.el.poor-metal.solid
    #113.el.poor-metal.unknown
  #col14.col
    #6.el.other-nonmetal.solid
    #14.el.other-nonmetal.solid
    #32.el.poor-metal.solid
    #50.el.poor-metal.solid
    #82.el.poor-metal.solid
    #114.el.poor-metal.unknown
  #col15.col
    #7.el.other-nonmetal.gas
    #15.el.other-nonmetal.solid
    #33.el.other-nonmetal.solid
    #51.el.poor-metal.solid
    #83.el.poor-metal.solid
    #115.el.poor-metal.unknown
  #col16.col
    #8.el.other-nonmetal.gas
    #16.el.other-nonmetal.solid
    #34.el.other-nonmetal.solid
    #52.el.other-nonmetal.solid
    #84.el.poor-metal.solid
    #116.el.poor-metal.unknown
  #col17.col
    #9.el.other-nonmetal.gas
    #17.el.other-nonmetal.solid
    #35.el.other-nonmetal.liquid
    #53.el.other-nonmetal.solid
    #85.el.other-nonmetal.solid
    #117.el.unknown
  #col18.col
    #2.el.noble-gas.gas
    #10.el.noble-gas.gas
    #18.el.noble-gas.gas
    #36.el.noble-gas.gas
    #54.el.noble-gas.gas
    #86.el.noble-gas.gas
    #118.el.noble-gas.unknown
  .extra-rows
    .row
      #57.el.lanthanide-metal.solid
      #58.el.lanthanide-metal.solid
      #59.el.lanthanide-metal.solid
      #60.el.lanthanide-metal.solid
      #61.el.lanthanide-metal.solid
      #62.el.lanthanide-metal.solid
      #63.el.lanthanide-metal.solid
      #64.el.lanthanide-metal.solid
      #65.el.lanthanide-metal.solid
      #66.el.lanthanide-metal.solid
      #67.el.lanthanide-metal.solid
      #68.el.lanthanide-metal.solid
      #69.el.lanthanide-metal.solid
      #70.el.lanthanide-metal.solid
      #71.el.lanthanide-metal.solid
    .row
      #89.el.actinide-metal.solid
      #90.el.actinide-metal.solid
      #91.el.actinide-metal.solid
      #92.el.actinide-metal.solid
      #93.el.actinide-metal.solid
      #94.el.actinide-metal.solid
      #95.el.actinide-metal.solid
      #96.el.actinide-metal.solid
      #97.el.actinide-metal.solid
      #98.el.actinide-metal.solid
      #99.el.actinide-metal.solid
      #100.el.actinide-metal.solid
      #101.el.actinide-metal.solid
      #102.el.actinide-metal.solid
      #103.el.actinide-metal.solid
