/*
  Colors

html
  background: url("/img/bg-gradient.png")
  background-size: 100% 100%

body
  color: white

.key-item,
.extra-rows,
.special
  @extend %paper
  background-color: #000
  border-color: #111

.key-item
  +gradient-of-color(#142e3b)

.scrolling-header.solid
  background-color: rgba(5, 21, 29, 0.8)

.solid
  color: #FFFFFF
.gas
  color: #DF19AC
.liquid
  color: #33FFED
.unknown
  color: #B8CFD9
  
.alkali-metal
  +gradient-of-color(#4DA291)
.alkaline-earth-metal
  +gradient-of-color(#49B680)
.lanthanide
  +gradient-of-color(#4D5C69)
.actinide
  +gradient-of-color(#43769F)
.transition-metal
  +gradient-of-color(#DA60A3)
.post-transition-metal
  +gradient-of-color(#BA69CE)
.metalloid
  +gradient-of-color(#766FAF)
.other-nonmetal
  +gradient-of-color(#00C8C2)
.noble-gas
  color: #DF19AC
  +gradient-of-color(#FFED5F)
.halogen
  +gradient-of-color(#29C9D9)

.active-sort
  background-color: #333

.special .num
  color: #4d5c69

