@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'Abel-Regular';
    src: url('abel-regular.eot');
    src: url('abel-regular.eot?#iefix') format('embedded-opentype'),
         url('abel-regular.woff') format('woff'),
         url('abel-regular.ttf') format('truetype'),
         url('abel-regular.svg#abel-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}