html,
body {
  width: 1024px;
  height: 748px;
  overflow: hidden;
}

body {
  font-family: "Abel-Regular", Abel, sans-serif;
  position: relative;
  margin: 0;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
